SUBSYSTEM=="platform", KERNEL=="dongle", ACTION=="add", RUN+="/usr/bin/ln -sf /sys%p /dev/dongle_platform"

SUBSYSTEM=="spi", KERNEL=="spi0.0", ACTION=="add", RUN+="/usr/bin/ln -sf /sys%p /dev/dongle_screen"

SUBSYSTEM=="leds", KERNEL=="LED_GREEN", ACTION=="change", RUN+="/usr/bin/chmod 666 /sys/class/leds/LED_GREEN/trigger /sys/class/leds/LED_GREEN/delay_on /sys/class/leds/LED_GREEN/delay_off"
SUBSYSTEM=="leds", KERNEL=="LED_RED", ACTION=="change", RUN+="/usr/bin/chmod 666 /sys/class/leds/LED_RED/trigger /sys/class/leds/LED_RED/delay_on /sys/class/leds/LED_RED/delay_off"
SUBSYSTEM=="leds", KERNEL=="LED_GREEN", ACTION=="add", RUN+="/usr/local/modules/_core_/leds.sh -l normal"

SUBSYSTEM=="tty", KERNEL=="ttyAMA2", ACTION=="add", RUN+="/usr/bin/ln -sf ttyAMA2 /dev/tty_zigbee"
SUBSYSTEM=="tty", KERNEL=="ttySAC4", ACTION=="add", RUN+="/usr/bin/ln -sf ttySAC4 /dev/tty_zigbee"

SUBSYSTEM=="tty", KERNEL=="ttyAMA10", ACTION=="add", RUN+="/usr/bin/ln -sf ttyAMA10 /dev/tty_debug"
SUBSYSTEM=="tty", KERNEL=="ttySAC3", ACTION=="add", RUN+="/usr/bin/ln -sf ttySAC3 /dev/tty_debug"

SUBSYSTEM=="tty", KERNEL=="ttyAMA0", ACTION=="add", RUN+="/usr/bin/ln -sf ttyAMA0 /dev/tty_attiny"

KERNEL=="rfkill", GROUP="rfkill", MODE="0664"
