@use "tailwindcss";
@use "lightdark.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
	--color-blue-50: #eff6ff;
	--color-blue-100: #25aae0;
	--color-blue-200: #0092ce;
	--color-blue-300: #0078b5;
	--color-blue-400: #005e9c;
	--color-blue-500: #014d8b;
	--color-blue-600: #013d7b;
	--color-blue-700: #012e6c;
	--color-blue-800: #011f5d;
	--color-blue-900: #000f4e;
	--color-blue-950: #000827;
}

html, body {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
}

ion-modal {
	--width: initial;
	--height: initial;
	--min-width: 25vw;
	--min-height: 25vw;
	--max-width: 95vw;
	--max-height: 95vw;
	--border-radius: 0.75rem;
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}
