[Unit]
Description=Better Auth
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=2s
User=admin
ExecStart=/usr/local/bin/node app.js
WorkingDirectory=/usr/local/modules/betterauth

[Install]
WantedBy=multi-user.target
