[Unit]
Description=Ente
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/modules/ente/server/main
WorkingDirectory=/usr/local/modules/ente/server

[Install]
WantedBy=multi-user.target
