[Unit]
Description=Frp
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=2s
User=admin
ExecStart=/usr/local/modules/frp/frpc -c /disk/admin/modules/frp/frpc.toml

[Install]
WantedBy=multi-user.target
