[Unit]
Description=LiteLLM
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/modules/litellm/bin/litellm --port 4001 --config /disk/admin/modules/litellm/config.yaml
WorkingDirectory=/disk/admin/modules/litellm
Environment=PYTHONPATH=/usr/local/modules/litellm/lib/python3.12/site-packages
Environment=PATH=/usr/local/modules/litellm/bin:/usr/bin:/bin
Environment=LITELLM_MIGRATION_DIR=/tmp/litellm_migrations

[Install]
WantedBy=multi-user.target
