[Unit]
Description=Meilisearch
After=systemd-user-sessions.service
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/bin/meilisearch --db-path /disk/admin/modules/meilisearch/data.ms
WorkingDirectory=/disk/admin/modules/meilisearch
EnvironmentFile=/disk/admin/modules/meilisearch/meilisearch.env

[Install]
WantedBy=multi-user.target
