[Unit]
Description=MeTube
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/modules/metube/env/bin/python3 app/main.py
WorkingDirectory=/usr/local/modules/metube
Environment=HOST=127.0.0.1
Environment=PORT=8089
Environment=DOWNLOAD_DIR=/disk/admin/modules/metube
Environment=STATE_DIR=/disk/admin/modules/metube/.state
Environment=TEMP_DIR=/tmp

[Install]
WantedBy=multi-user.target
