[Unit]
Description=MicroBin
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
WorkingDirectory=/disk/admin/modules/microbin
ExecStart=/bin/sh -c '. /disk/admin/modules/microbin/.env && exec /usr/local/bin/microbin'

[Install]
WantedBy=multi-user.target
