[Unit]
Description=New API
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/bin/newapi --port 8118
WorkingDirectory=/disk/admin/modules/newapi

[Install]
WantedBy=multi-user.target
