[Unit]
Description=Open WebUI
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/modules/openwebui/bin/open-webui serve --host 127.0.0.1 --port 8101
WorkingDirectory=/disk/admin/modules/openwebui
EnvironmentFile=/disk/admin/modules/openwebui/.env

[Install]
WantedBy=multi-user.target
