[Unit]
Description=Pinchflat
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/modules/pinchflat/_build/prod/rel/pinchflat/bin/pinchflat start
WorkingDirectory=/usr/local/modules/pinchflat/_build/prod/rel/pinchflat
EnvironmentFile=/disk/admin/modules/pinchflat/config/env
Environment=MEDIA_PATH=/disk/admin/modules/pinchflat/downloads
Environment=CONFIG_PATH=/disk/admin/modules/pinchflat/config
Environment=PHX_SERVER=true

[Install]
WantedBy=multi-user.target
