[Unit]
Description=Shields
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/bin/node server 8104
WorkingDirectory=/usr/local/modules/shields

[Install]
WantedBy=multi-user.target
