[Unit]
Description=Tabby
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/bin/tabby serve --host 127.0.0.1 --port 8100
WorkingDirectory=/disk/admin

[Install]
WantedBy=multi-user.target
