[Unit]
Description=WebSSH2
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/bin/node dist/index.js
WorkingDirectory=/usr/local/modules/webssh2

[Install]
WantedBy=multi-user.target
