[Unit]
Description=Whisparr
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=simple
StandardOutput=inherit
StandardError=inherit
RestartSec=5s
User=admin
ExecStart=/usr/local/modules/whisparr/Whisparr -nobrowser -data=/disk/admin/modules/whisparr/

[Install]
WantedBy=multi-user.target
