<div class="flex min-h-screen text--gray-900">
	<app-sidebar></app-sidebar>
	<div class="flex-1 flex flex-col min-h-screen">
		<app-topbar [title]="L('Settings')"></app-topbar>
		<div class="flex mt-4 p-4 w-full" *ngIf="global.session.cloud?.info?.setup == 'done1'">
			<span class="text--red-500 font-bold">{{L("First-time setup is needed...")}} </span>
			<div class="flex-1"></div>
			<button (click)="global.setup2Start(true)" class="inline-flex items-center gap-2 px-4 py-2 bg--yellow-600 border border--gray-300 rounded-lg text-sm font-medium text--white hover:bg--yellow-700 transition-colors cursor-pointer">
				<ion-icon name="cog-outline" class="w-4 h-4"></ion-icon>
				{{L("Launch Setup")}}
			</button>
		</div>
		<div class="ml-4 my-4">{{L("System internal / external IP addresses:")}} {{global.session?.cloud?.hardware?.internalIP}} / {{global.session?.cloud?.hardware?.externalIP}}</div>
		<div class="flex gap-3 mt-4 mr-4">
			<div class="ml-4">{{L("Those are the system settings. Your personal settings including your password can be tuned on the page:")}} <a routerLink="/profile" class="underline cursor-pointer">Profile</a></div>
			<div class="flex-1"></div>
			<button (click)="save()" [disabled]="dSave" class="inline-flex items-center gap-2 px-4 py-2 bg--blue-600 border border--gray-300 rounded-lg text-sm font-medium text--white hover:bg--blue-700 transition-colors cursor-pointer disabled:bg--gray-100 disabled:cursor-default disabled:text--gray-400">
				<ion-icon name="save-outline" class="w-4 h-4"></ion-icon>
				{{L("Save")}}
			</button>
		</div>
		<div>
			<main class="flex-1 p-6 bg-background space-y-6">
				<div class="border-b border--gray-200">
					<nav class="flex space-x-8">
						<button (click)="activeTab = 'general'" [class]="activeTab == 'general' ? 'border--blue-500 text--blue-600' : 'border-transparent text--gray-500 hover:text--gray-700 hover:border--gray-300'" class="py-2 px-1 border-b-2 font-medium text-sm transition-colors">
							{{L("General")}}
						</button>
						<button (click)="activeTab = 'domains'" [class]="activeTab == 'domains' ? 'border--blue-500 text--blue-600' : 'border-transparent text--gray-500 hover:text--gray-700 hover:border--gray-300'" class="py-2 px-1 border-b-2 font-medium text-sm transition-colors">
							{{L("Domains")}}
						</button>
						<button (click)="activeTab = 'connectivity'" [class]="activeTab == 'connectivity' ? 'border--blue-500 text--blue-600' : 'border-transparent text--gray-500 hover:text--gray-700 hover:border--gray-300'" class="py-2 px-1 border-b-2 font-medium text-sm transition-colors">
							{{L("Connectivity")}}
						</button>
						<button (click)="activeTab = 'vpn'" [class]="activeTab == 'vpn' ? 'border--blue-500 text--blue-600' : 'border-transparent text--gray-500 hover:text--gray-700 hover:border--gray-300'" class="py-2 px-1 border-b-2 font-medium text-sm transition-colors">
							{{L("VPN")}}
						</button>
						<button (click)="activeTab = 'security'" [class]="activeTab == 'security' ? 'border--blue-500 text--blue-600' : 'border-transparent text--gray-500 hover:text--gray-700 hover:border--gray-300'" class="py-2 px-1 border-b-2 font-medium text-sm transition-colors">
							{{L("Security")}}
						</button>
					</nav>
				</div>
				@if (activeTab == 'general') {
				<div class="rounded-xl border border--gray-200 p-6 shadow-sm">
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Language")}}</h4>
					<p class="text-sm font-medium text--gray-700">{{L("System")}}</p>
					<div class="flex mt-2">
						<div class="flex rounded-lg border border--gray-200 p-1">
							<label class="relative flex flex-col cursor-pointer items-center justify-center rounded-md px-3 py-1.5 transition-all duration-300">
								<input type="radio" name="language" value="en" class="peer sr-only" checked (click)="global.changeLanguage('en');"/>
								<span class="absolute inset-0 z-0 rounded-md bg--gray-100 opacity-0 transition-all duration-300 peer-checked:opacity-100"></span>
								<span class="relative z-10 font-medium transition-all duration-300 peer-checked:text--gray-900">🇺🇸<br>EN</span>
							</label>
							<label class="relative flex flex-col grow cursor-pointer items-center justify-center rounded-md px-3 py-1.5 transition-all duration-300">
								<input type="radio" name="language" value="fr" class="peer sr-only" (click)="global.changeLanguage('fr');"/>
								<span class="absolute inset-0 z-0 rounded-md bg--gray-100 opacity-0 transition-all duration-300 peer-checked:opacity-100"></span>
								<span class="relative z-10 font-medium transition-all duration-300 peer-checked:text--gray-900">🇫🇷<br>FR</span>
							</label>
						</div>
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("System Time:")}} {{ currentTime }}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Time Zone")}}</p>
						<select class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]" (change)="onTimezoneChange($event)" [value]="selectedTimezone">
							<option value="UTC">GMT +0 (UTC)</option>
							<option value="Europe/London">GMT +0 (London)</option>
							<option value="Europe/Paris">GMT +1 (Paris)</option>
							<option value="Europe/Athens">GMT +2 (Athens)</option>
							<option value="Europe/Moscow">GMT +3 (Moscow)</option>
							<option value="Asia/Dubai">GMT +4 (Dubai)</option>
							<option value="Asia/Karachi">GMT +5 (Karachi)</option>
							<option value="Asia/Dhaka">GMT +6 (Dhaka)</option>
							<option value="Asia/Bangkok">GMT +7 (Bangkok)</option>
							<option value="Asia/Shanghai">GMT +8 (Shanghai)</option>
							<option value="Asia/Tokyo">GMT +9 (Tokyo)</option>
							<option value="Australia/Sydney">GMT +10 (Sydney)</option>
							<option value="Asia/Magadan">GMT +11 (Magadan)</option>
							<option value="Pacific/Auckland">GMT +12 (Auckland)</option>
							<option value="Pacific/Midway">GMT -11 (Midway)</option>
							<option value="Pacific/Honolulu">GMT -10 (Honolulu)</option>
							<option value="America/Anchorage">GMT -9 (Anchorage)</option>
							<option value="America/Los_Angeles" selected>GMT -8 (Los Angeles)</option>
							<option value="America/Denver">GMT -7 (Denver)</option>
							<option value="America/Chicago">GMT -6 (Chicago)</option>
							<option value="America/New_York">GMT -5 (New York)</option>
							<option value="America/Halifax">GMT -4 (Halifax)</option>
							<option value="America/Sao_Paulo">GMT -3 (Sao Paulo)</option>
							<option value="America/Noronha">GMT -2 (Noronha)</option>
							<option value="Atlantic/Azores">GMT -1 (Azores)</option>
						</select>
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Torrent")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<div>
							<p class="text-sm font-medium text--gray-700">{{L("Disable")}}</p>
							<p class="text-sm text--gray-500">{{L("Don't show Transmission, qBittorrent and rr modules.")}}</p>
						</div>
						<input type="checkbox" [(ngModel)]="signInNotification" (change)="dSave = false;" class="w-4 h-4 text--blue-600 focus:ring--blue-500 border--gray-300 rounded">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Backend")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<div>
							<p class="text-sm font-medium text--gray-700">{{L("Refresh")}}</p>
							<p class="text-sm text--gray-500">{{L("Restart web app server.")}}</p>
						</div>
						<button (click)="refresh()" class="inline-flex items-center gap-2 px-4 py-2 bg--yellow-600 text--white rounded-lg text-sm font-medium hover:bg--yellow-700 transition-colors cursor-pointer">
							<ion-icon name="refresh-outline" class="text--white w-4 h-4"></ion-icon>
							<span class="text-lg">{{L("Refresh")}}</span>
						</button>
					</div>
				</div>
				}
				@if (activeTab == 'domains') {
				<div class="rounded-xl border border--gray-200 p-6 shadow-sm">
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Cloud Name")}}</p>
						<input type="text" disabled="true" value="https://{{global.session.cloud.all?.name}}.maxi.cloud" class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Short Name")}}</p>
						<input type="text" disabled="true" value="https://{{global.session.cloud.all?.shortname}}.maxi.cloud" class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("BYO Domains (Bring Your Own Domains)")}}</p>
						<input type="text" disabled="true" value="{{global.session.cloud.all?.domains?.join(', ')}}" class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Certificate")}}</p>
						<span class="text-right flex flex-col items-end">
							{{certificateExpirationDate}}<br>
							{{certificateDomains}}<br>&nbsp;
							<button (click)="certificateRenew()" disabled="true" class="inline-flex items-center gap-2 px-4 py-2 bg--yellow-600 text--white rounded-lg text-sm font-medium hover:bg--yellow-700 transition-colors cursor-pointer">
								<ion-icon name="refresh-outline" class="text--white w-4 h-4"></ion-icon>
								<span class="text-lg">{{L("Renew")}}</span>
							</button>
						</span>
					</div>
				</div>
				}
				@if (activeTab == 'connectivity') {
				<div class="rounded-xl border border--gray-200 p-6 shadow-sm">
					<h3 class="text-lg font-semibold text--gray-900 mb-4">{{L("Wi-Fi")}}</h3>
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("SSID")}}</p>
						<input type="text" [(ngModel)]="adminSudo" class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Type")}}</p>
						<select class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
							<option value="nome">None</option>
							<option value="wep">WEP</option>
							<option value="wpa" selected=true>WPA/WPA2</option>
						</select>
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Password")}}</p>
						<input type="text" [(ngModel)]="adminSudo" class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<button (click)="wifiApply()" [disabled]="dWiFi" class="inline-flex items-center gap-2 px-4 py-2 bg--yellow-600 text--white rounded-lg text-sm font-medium hover:bg--yellow-700 transition-colors cursor-pointer">
						<span class="text-lg">{{L("Apply")}}</span>
					</button>
				</div>
				}
				@if (activeTab == 'vpn') {
				<div class="rounded-xl border border--gray-200 p-6 shadow-sm">
					<h3 class="text-lg font-semibold text--gray-900 mb-4">{{L("VPN Server")}}</h3>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Configuration")}}</h4>
					<div class="space-y-4 flex flex-col">
						<a class="text-sm font-medium text--gray-700 underline cursor-pointer" routerLink="/" [queryParams]="{ search:'wgDashboard' }">{{L("Open the module")}} wgDashboard</a>
						<p class="text-sm text--gray-500">{{L("The system can act as a VPN server, meaning that you connect to, get and use its IP address.")}}</p>
					</div>
					<div class="border-t border--gray-400 my-8"></div>
					<h3 class="text-lg font-semibold text--gray-900 mb-4">{{L("VPN Client")}}</h3>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Configuration File")}}</h4>
					<div class="space-y-4 flex flex-col">
						<div class="flex items-center">
							<p class="text-sm font-medium text--gray-700">{{L("OpenVPN or WireGuard .conf")}}</p>
							<button type="button" (click)="getSshKeys()" class="flex justify-center items-center bg--blue-600 p-2 rounded ml-2" style="cursor:pointer;"><ion-icon name="download-outline" class="text--white"></ion-icon></button>
						</div>
						<p class="text-sm text--gray-500">{{L("You can use any commercial VPN such as NordVPN, PIA, ProtonVPN...")}}</p>
						<textarea rows="3" [(ngModel)]="sshKeys" (change)="dSave = false;" [disabled]="dSshKeys" class="border placeholder:text--gray-400" placeholder="click on button to retrieve what is on server / Nothing on system"></textarea>
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<div class="space-y-4 flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Enable")}}</p>
						<input type="checkbox" [(ngModel)]="adminSudo" (change)="dSave = false;" class="w-4 h-4 text--blue-600 focus:ring--blue-500 border--gray-300 rounded">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Traffic Routing")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Module(s)")}}</p>
						<select class="text--blue-600 focus:ring--blue-500 border--gray-300 rounded border grow ml-5 max-w-[50%]">
							<option value="user">qBittorrent only</option>
							<option value="user">All modules</option>
						</select>
					</div>
				</div>
				}
				@if (activeTab == 'security') {
				<div class="rounded-xl border border--gray-200 p-6 shadow-sm">
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("New User Sign-Up")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<div>
							<p class="text-sm font-medium text--gray-700">{{L("Approval Requirement")}}</p>
							<p class="text-sm text--gray-500">{{L("A new user sign-up needs admin approval.")}}</p>
						</div>
						<input type="checkbox" [(ngModel)]="adminSudo" (change)="dSave = false;" class="w-4 h-4 text--blue-600 focus:ring--blue-500 border--gray-300 rounded">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Notification")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<div>
							<p class="text-sm font-medium text--gray-700">{{L("Sign-In")}}</p>
							<p class="text-sm text--gray-500">{{L("Users are notified by email of their successful sign-in.")}}</p>
						</div>
						<input type="checkbox" [(ngModel)]="signInNotification" (change)="dSave = false;" class="w-4 h-4 text--blue-600 focus:ring--blue-500 border--gray-300 rounded">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("AutoLogin")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<div>
							<p class="text-sm font-medium text--gray-700">{{L("Enable AutoLogin")}}</p>
							<p class="text-sm text--gray-500">{{L("AutoLogin button is present on login page (if any) of the modules.")}}</p>
						</div>
						<input type="checkbox" [(ngModel)]="adminSudo" (change)="dSave = false;" class="w-4 h-4 text--blue-600 focus:ring--blue-500 border--gray-300 rounded">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("Sudo")}}</h4>
					<div class="space-y-4 flex items-center justify-between">
						<p class="text-sm font-medium text--gray-700">{{L("Admin account has sudo rights")}}</p>
						<input type="checkbox" [(ngModel)]="adminSudo" (change)="dSave = false;" class="w-4 h-4 text--blue-600 focus:ring--blue-500 border--gray-300 rounded">
					</div>
					<div class="border-t border--gray-200 my-6"></div>
					<h4 class="text-md font-medium text--gray-900 mb-2">{{L("SSH")}}</h4>
					<div class="space-y-4 flex flex-col">
						<div class="flex items-center">
							<p class="text-sm font-medium text--gray-700">{{L("SSH Authorized public key(s)")}}</p>
							<button type="button" (click)="getSshKeys()" class="flex justify-center items-center bg--blue-600 p-2 rounded ml-2" style="cursor:pointer;"><ion-icon name="download-outline" class="text--white"></ion-icon></button>
						</div>
						<textarea rows="3" [(ngModel)]="sshKeys" (change)="dSave = false;" [disabled]="dSshKeys" class="border"></textarea>
					</div>
				</div>
				}
			</main>
		</div>
	</div>
</div>
<ion-modal #modalAlert style="--min-height:15vw; --max-height:15vw;">
	<ng-template>
		<div class="flex flex-col w-full items-center justify-center" style="height:15vw;">
			<ion-icon name="warning-outline" class="w-8 h-8"></ion-icon>
			<span class="text-xl my-5">{{L("Warning!!!")}}</span>
			<span class="text-justify w-[20vw]">{{L("It seems that you are using a micro SD card. This OS requires a high performance disk, so we recommend to use a NVMe SSD.")}}</span>
		</div>
	</ng-template>
</ion-modal>
