<div class="flex min-h-screen text--gray-900">
	<app-sidebar></app-sidebar>
	<div class="flex-1 flex flex-col min-h-screen">
		<app-topbar [title]="title"></app-topbar>
			@if (this.global.demo) {
			<div class="p-5 min-w-full min-h-full">{{L("This module is not accessible in the web demo. Download and run")}} <b><span class="text-blue-200">m</span><span class="text-blue-600">A</span><span class="text-blue-200">x</span><span class="text-blue-600 text-[1.04rem] font-[monospace]">I</span><span class="text-blue-200">.cloud</span></b> {{L("on your Raspberry Pi to experience the whole demo.")}}<br><br>Read the <a href="https://docs.maxi.cloud/#/?id=install-the-free-version" target="_blank" class="underline">Install instructions</a>.</div>
			} @else if (!this.global.developer && !this.finished) {
			<div class="p-5 min-w-full min-h-full">{{L("The integration of this module is not yet finished. Check the next monthly release of mAxI.cloud.")}}</div>
			} @else {
			<iframe id="iframeWrapper" [src]="safeUrl" class="min-w-full min-h-full"></iframe>
			}
	</div>
</div>
