<button (click)="showMobileMenu = !showMobileMenu" class="absolute mt-3 md:hidden p-2 rounded-md hover:bg--gray-100 transition-colors user-mobile-button" aria-label="Toggle mobile menu">
	<ion-icon name="menu-outline" class="w-6 h-6"></ion-icon>
</button>
@if (showMobileMenu) {
<div (click)="showMobileMenu = true" class="fixed inset-0 bg--black/50 backdrop-blur-sm z-40 md:hidden"></div>
}
<aside [class]="showMobileMenu ? 'translate-x-0' : '-translate-x-full'" class="fixed inset-y-0 left-0 z-50 w-64 bg--sidebar border-r border--gray-200 transform transition-transform duration-300 ease-in-out md:relative md:translate-x-0 user-mobile-menu h-full">
	<div class="flex flex-col h-full border-r border--gray-200 w-64">
		<div class="h-16 flex items-center justify-between px-6 border-b border--gray-200 sticky top-0 z-10">
			<div class="flex items-center gap-2">
			<a routerLink="/" (click)="global.openHome()" title="Dashboard" class="-ml-2 cursor-pointer">
				<span class="text-3xl font-extrabold text-blue-200">m</span><span class="text-3xl font-extrabold text-blue-600">A</span><span class="text-3xl font-extrabold text-blue-200">x</span><span class="text-3xl font-extrabold text-blue-600 font-[monospace]">I</span><span class="text-3xl font-extrabold text-blue-200">.</span><img src="assets/images/logo-cloud.png" class="h-8" alt="mAxI.cloud" style="display:inline-block; vertical-align:baseline;">
			</a>
			<button (click)="showMobileMenu = false" class="md:hidden ml-2 rounded-md hover:bg--gray-100 transition-colors" aria-label="Close menu">
				<ion-icon name="close-circle-outline" class="w-5 h-5 text--gray-600"></ion-icon>
			</button>
			</div>
		</div>
		<nav class="flex-1 py-6 px-3 space-y-1 overflow-y-hide">
			<div class="px-3 text-s font-semibold text--gray-600 tracking-wider">{{LG("MODULES")}}</div>
			<a routerLink="/" (click)="global.openHome()" title="Dashboard" class="flex items-center gap-3 rounded-lg px-3 py-2.5 text-sm font-medium text--gray-800 group cursor-pointer">
					<ion-icon name="apps-outline" class="h-5 w-5"></ion-icon>
				<span>{{LG("Dashboard")}}</span>
				<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{modulesTotal ?? global.modulesData.length}}</span>
			</a>
			<div class="ml-2 flex flex-col rounded-lg border border--gray-200">
				<div class="flex rounded-lg border border--gray-200 p-1">
					<label class="relative flex cursor-pointer items-center justify-center rounded-md px-3 py-1.5 transition-all duration-300">
						<input type="radio" name="modulesGroup" [(ngModel)]="global.sidebarFilterType" (click)="sidebarFilterClick('essential')" (change)="sidebarFilterCards()" value="essential" class="peer sr-only" checked/>
						<span class="absolute inset-0 z-0 rounded-md bg--gray-200 opacity-0 transition-all duration-300 peer-checked:opacity-100"></span>
						<span class="relative flex flex-col items-center z-10 text-sm font-medium transition-all duration-300 peer-checked:text--gray-900">
							<ion-icon name="star-outline" class="w-5 h-5" [class]="global.colorWord('Essential', false)"></ion-icon>
							<span class="relative z-10 text-xs font-medium transition-all duration-300 peer-checked:text--gray-900" [class]="global.colorWord('Essential', false)">{{LG("Essential")}}</span>
						</span>
					</label>
					<label class="relative flex grow cursor-pointer items-center justify-center rounded-md px-3 py-1.5 transition-all duration-300">
						<input type="radio" name="modulesGroup" [(ngModel)]="global.sidebarFilterType" (click)="sidebarFilterClick('tag')" (change)="sidebarFilterCards()" value="tag" class="peer sr-only"/>
						<span class="absolute inset-0 z-0 rounded-md bg--gray-200 opacity-0 transition-all duration-300 peer-checked:opacity-100"></span>
						<span class="relative flex flex-col items-center z-10 text-sm font-medium transition-all duration-300 peer-checked:text--gray-900">
							<ion-icon name="bookmarks-outline" class="w-5 h-5"></ion-icon>
							<span class="relative z-10 text-xs font-medium transition-all duration-300 peer-checked:text--gray-900">{{LG("Tag")}}</span>
						</span>
					</label>
					<label class="relative flex grow cursor-pointer items-center justify-center rounded-md px-3 py-1.5 transition-all duration-300">
						<input type="radio" name="modulesGroup" [(ngModel)]="global.sidebarFilterType" (click)="sidebarFilterClick('search')" (change)="sidebarFilterCards()" value="search" class="peer sr-only"/>
						<span class="absolute inset-0 z-0 rounded-md bg--gray-200 opacity-0 transition-all duration-300 peer-checked:opacity-100"></span>
						<span class="relative flex flex-col items-center z-10 text-sm font-medium transition-all duration-300 peer-checked:text--gray-900">
							<ion-icon name="search-outline" class="w-5 h-5"></ion-icon>
							<span class="relative z-10 text-xs font-medium transition-all duration-300 peer-checked:text--gray-900">{{LG("Find")}}</span>
						</span>
					</label>
				</div>
				<div class="m-3 text-sm" [class]="global.sidebarFilterType == 'tag' && global.settings.tags.length == 0 ? '' : 'hidden'">
					{{LG("No tagged module.")}}
				</div>
				<div [class]="global.sidebarFilterType == 'search' ? '' : 'hidden'">
					<input type="text" [(ngModel)]="global.sidebarSearchTerm" (input)="sidebarFilterCards()" placeholder="{{LG('Find modules...')}}" class="m-1 pl-2 py-1 w-40 border border--gray-300 text--gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring--blue-600 focus:border-transparent transition-colors">
				</div>
				<div class="overflow-y-auto max-h-50" [class]="global.sidebarFilterType != '' ? '' : 'hidden'">
					<a class="flex items-center gap-3 rounded-lg px-3 py-2.5 text-sm font-medium text--gray-800 group" [href]="global.openModuleHref(data.module)" (click)="global.openModuleClick($event, data.module);" *ngFor="let data of sidebarFilteredModules; let dd = index;">
						<div class="w-5 h-5 flex items-center justify-center">
							<div class="overflow-hidden"><img src="assets/icons/{{data.module}}.png" class="w-5 h-5" [class]="global.colorWord2(data.category)"></div>
						</div>
						<span>{{data['title']}}</span>
					</a>
				</div>
			</div>

			<div joyrideStep="anchor7" title="System" text="Tune the system." stepPosition="right" *ngIf="global.session?.user?.role == 'admin'">
				<div class="px-3 text-s text--black font-semibold text--gray-600 tracking-wider mt-6 md:mt-12">{{LG("SYSTEM")}}</div>
				<a routerLink="/settings" title="Settings" class="flex items-center gap-3 rounded-lg px-3 py-1 text-sm font-medium text--gray-800 group cursor-pointer">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="settings-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("Settings")}}<br><span class="text-xs text-gray-500">{{LG("Wi-Fi, VPN, SSH")}}</span></span>
				</a>
				<a routerLink="/ai" title="AI" class="flex items-center gap-3 rounded-lg px-3 py-1 text-sm font-medium text--gray-800 group cursor-pointer">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="bulb-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("AI")}}<br><span class="text-xs text-gray-500">{{LG("Keys, Routing, Stats")}}</span></span>
				</a>
				<a routerLink="/permissions" title="Permissions" class="flex items-center gap-3 rounded-lg px-3 py-1 text-sm font-medium text--gray-800 group cursor-pointer">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="lock-closed-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("Permissions")}}<br><span class="text-xs text-gray-500">{{LG("Access rights, Hits")}}</span></span>
				</a>
				<a routerLink="/users" title="Users" class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text--gray-800 group cursor-pointer">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="people-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("Users")}}</span>
				</a>
				<a routerLink="/hardware" title="Hardware" class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text--gray-800 group cursor-pointer" *ngIf="!global.demo || global.developer">
					<div class="w-5 h-5 flex items-center justify-center overflow-hidden">
						<ion-icon name="tv-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("Hardware")}}</span>
				</a>
				<a [href]="global.openModuleHref('webssh2')" (click)="global.openModuleClick($event, 'webssh2');" title="" class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text--gray-800 group cursor-pointer" *ngIf="global.session?.user?.username && global.session?.user?.username == global.session?.cloud?.info?.name">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="terminal-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("Terminal")}}</span>
				</a>
				<a routerLink="/serverlog" title="System Logs" class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text--gray-800 group cursor-pointer">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="document-text-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("System Logs")}}</span>
				</a>
				<a routerLink="/backup" title="Backup & Restore" class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text--gray-800 group cursor-pointer">
					<div class="w-5 h-5 flex items-center justify-center">
						<ion-icon name="download-outline" class="w-5 h-5"></ion-icon>
					</div>
					<span>{{LG("Backup & Restore")}}</span>
				</a>
			</div>

			<div joyrideStep="anchor8" title="Status" text="Watch the status of your dongle." stepPosition="right">
				<div class="px-3 text-s font-semibold text--gray-600 tracking-wider mt-6 md:mt-12 flex items-center">
					{{LG("STATUS")}}<ion-icon name="remove-circle-outline" class="w-5 h-5 ml-3" [class]="global.statsPeriod <= 1 ? 'text--gray-200' : ' cursor-pointer'" (click)="global.statsPeriodChange(-1);"></ion-icon><ion-icon name="add-circle-outline" class="w-5 h-5 ml-2" [class]="global.statsPeriod >= 30 ? 'text--gray-200' : ' cursor-pointer'" (click)="global.statsPeriodChange(1);"></ion-icon><span class="ml-2 text-xs">{{global.statsPeriod}}s</span>
				</div>
				<div class="px-3 py-2">
					<div class="flex items-center justify-between text-xs">
						<span class="text--gray-600">{{LG("Storage")}} ({{(global.statsData?.storage?.available / 1024)?.toFixed(0)}} GB {{LG("free")}})</span>
						<div class="flex items-center gap-1">
							<div class="w-2 h-2 rounded-full" [class]="global.colorPercent(global.statsData?.storage?.usage)" ></div>
							<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{global.statsData?.storage?.usage?.toFixed(0)}}%</span>
						</div>
					</div>
					<div class="mt-2 w-full bg--gray-200 rounded-full h-1 flex">
						<div class="h-1 rounded-full" [class]="global.colorPercent(global.statsData?.storage?.usage)" style="width:{{global.statsData?.storage?.usage}}%"></div>
					</div>
				</div>
				<div class="px-3 py-2">
					<div class="flex items-center justify-between text-xs">
						<span class="text--gray-600">{{LG("CPU")}}</span>
						<div class="flex items-center gap-1">
							<div class="w-2 h-2 rounded-full" [class]="global.colorPercent(global.statsData?.cpu?.current?.user + global.statsData?.cpu?.current?.system, [ 50, 20 ])"></div>
							<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{(global.statsData?.cpu?.current?.user + global.statsData?.cpu?.current?.system)?.toFixed(0)}}%</span>
						</div>
					</div>
					<div class="mt-2 w-full bg--gray-200 rounded-full h-1 flex">
						<div class="h-1 rounded-full" [class]="global.colorPercent(global.statsData?.cpu?.current?.user + global.statsData?.cpu?.current?.system, [ 50, 20 ])" style="width:{{global.statsData?.cpu?.current?.user}}%"></div>
						<div class="bg--gray-200 h-1 rounded-full" style="width:1px"></div>
						<div class="h-1 rounded-full" [class]="global.colorPercent(global.statsData?.cpu?.current?.user + global.statsData?.cpu?.current?.system, [ 50, 20 ])" style="width:{{global.statsData?.cpu?.current?.system}}%"></div>
					</div>
				</div>
				<div class="px-3 py-2" *ngIf="global.developer">
					<div class="flex items-center justify-between text-xs">
						<span class="text--gray-600">{{LG("Mem")}}</span>
						<div class="flex items-center gap-1">
							<div class="w-2 h-2 rounded-full" [class]="global.colorPercent(global.statsData?.mem?.used * 100 / global.statsData?.mem?.total)"></div>
							<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{(global.statsData?.mem?.used * 100 / global.statsData?.mem?.total)?.toFixed(0)}}%</span>
						</div>
					</div>
					<div class="mt-2 w-full bg--gray-200 rounded-full h-1 flex">
						<div class="h-1 rounded-full" [class]="global.colorPercent(global.statsData?.mem?.used * 100 / global.statsData?.mem?.total)"  style="width:{{(global.statsData?.mem?.used * 100 / global.statsData?.mem?.total)?.toFixed(0)}}%"></div>
					</div>
				</div>
				<div class="px-3 py-2" *ngIf="global.developer">
					<div class="flex items-center justify-between text-xs">
						<span class="text--gray-600">{{LG("Swap")}}</span>
						<div class="flex items-center gap-1">
							<div class="w-2 h-2 rounded-full" [class]="global.colorPercent(global.statsData?.mem?.swap?.used * 100 / global.statsData?.mem?.swap?.total)"></div>
							<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{(global.statsData?.mem?.swap?.used * 100 / global.statsData?.mem?.swap?.total)?.toFixed(0)}}%</span>
						</div>
					</div>
					<div class="mt-2 w-full bg--gray-200 rounded-full h-1 flex">
						<div class="h-1 rounded-full" [class]="global.colorPercent(global.statsData?.mem?.swap?.used * 100 / global.statsData?.mem?.swap?.total)"  style="width:{{(global.statsData?.mem?.swap?.used * 100 / global.statsData?.mem?.swap?.total)?.toFixed(0)}}%"></div>
					</div>
				</div>
				<div class="px-3 py-2">
					<div class="flex items-center justify-between text-xs">
						<span class="text--gray-600">{{LG("Network")}}</span>
						<div class="flex items-center gap-1">
							<div class="w-2 h-2 rounded-full" [class]="global.colorPercent((global.statsData?.network?.current?.rx + global.statsData?.network?.current?.tx) / 1024, [ 1024, 512 ])" ></div>
							<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{((global.statsData?.network?.current?.rx + global.statsData?.network?.current?.tx) / 1024)?.toFixed(0)}} kB/s</span>
						</div>
					</div>
				</div>
				<div class="px-3 py-2">
					<div class="flex items-center justify-between text-xs">
						<span class="text--gray-600">{{LG("Users")}}</span>
						<div class="flex items-center gap-1">
							<div class="w-2 h-2 rounded-full" [class]="global.colorPercent(global.statsData?.users.count, [ 1000, 100 ])" ></div>
							<span class="ml-auto text--gray-600 text-xs px-2 py-0.5 rounded-full font-medium">{{global.statsData?.users.count}}</span>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="flex gap-3 px-4 mb-2 text--gray-900">
			<a (click)="global.themeSet('light')" title="{{LG('Light')}}" [class]="global.themeSel == 'light' ? 'cursor-default' : 'cursor-pointer'"><ion-icon name="sunny-outline" class="h-4 w-4 pb-1" [class]="global.themeSel == 'light' ? 'border-b border--gray-900' : ''"></ion-icon></a>
			<a (click)="global.themeSet('dark')" title="{{LG('Dark')}}" [class]="global.themeSel == 'dark' ? 'cursor-default' : 'cursor-pointer'"><ion-icon name="moon-outline" class="h-4 w-4 pb-1" [class]="global.themeSel == 'dark' ? 'border-b border--gray-900' : ''"></ion-icon></a>
			<a (click)="global.themeSet('system')" title="{{LG('System')}}" [class]="global.themeSel == 'system' ? 'cursor-default' : 'cursor-pointer'"><ion-icon name="contrast-outline" class="h-4 w-4 pb-1" [class]="global.themeSel == 'system' ? 'border-b border--gray-900' : ''"></ion-icon></a>
		</div>
	</div>
</aside>
